extends layout


block content
  section
    h1 Документы 
      small ATYRAUGEOCONTROL
    ol.breadcrumb
      li
        a(href='/docs') Database
      li.active Документы

  section
    .row
      .col-md-12
        .box.box-solid
          .box-header
          .box-body
            .table-responsive
              table.table.table-bordered.table-hover(style="font-size:14px")
                thead
                  tr
                    th #
                    th Категория
                    th Наименование документа
                    th Полное описание документа
                    th Срок действия
                    th Автор
                tbody
                  each val in title
                    tr
                      td #{val.document_id}
                      td #{val.doc_category}
                      td #{val.doc_name}
                      td #{val.description}
                      td #{val.validity_date.getDate() + '.' + (val.validity_date.getMonth() + 1) + '.' + val.validity_date.getFullYear()}
                      td #{val.author}
            button#opener.btn.btn-default(type="submit") Add Document
  include ./includes/dialog-document.jade

block scripts
  script(src="javascripts/document.js")
  script.
    var a = 3;
    console.log(a);
