extends layout


block content
  section
    h1 Документы 
      small ATYRAUGEOCONTROL
    ol.breadcrumb
      li
        a(href='/docs') Database
      li.active Документы

  section
    .row
      .col-md-12
        .box.box-solid
          .box-header
          .box-body
            .table-responsive
              table.table.table-bordered.table-hover(style="font-size:14px")
                thead
                  tr
                    th #
                    th Категория
                    th Наименование документа
                    th Полное описание документа
                    th Срок действия
                    th Автор
                tbody
                  each val in title
                    tr
                      td #{val.document_id}
                      td #{val.doc_category}
                      td #{val.doc_name}
                      td #{val.description}
                      td #{val.validity_date.getDate() + '.' + (val.validity_date.getMonth() + 1) + '.' + val.validity_date.getFullYear()}
                      td #{val.author}
  section
    .row
      .col-md-12
        .box.box-solid
          .box-header
          .box-body
            form.form-horizontal(
              action='/docs'
              enctype='multipart/form-data'
              method='post')
              .form-group
                label.col-sm-2.control-label
                  small Файл
                .col-sm-10
                  input.form-control.input-sm(
                    autocomplete='off'
                    name='descriotion_file'
                    placeholder='descriotion file')
                .row
                  .col-sm-2
                    input(type='file' name='file')
                  .col-sm-2
                    input(type='submit' value='Send')




block scripts
  script(src="javascripts/ajax.js")
